<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEW PROJECT</title>

    <script src="./libs/three.js"></script>
    <script src="./libs/orbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <!--<script src="./libs/js/WebGL.js"></script>-->
<!--    <script src="./libs/js/shaders/CopyShader.js"></script>-->
<!--    <script src="./libs/js/shaders/FXAAShader.js"></script>-->
<!--    <script src="./libs/js/postprocessing/EffectComposer.js"></script>-->
<!--    <script src="./libs/js/postprocessing/RenderPass.js"></script>-->
<!--    <script src="./libs/js/postprocessing/ShaderPass.js"></script>-->
<!--    <script src="./libs/js/postprocessing/OutlinePass.js"></script>-->
</head>
<body>
    <div class="page-background"></div>

    <header>
        <ul class="top-menu">
            <li id="memoweb">Memoweb</li>
            <li id="about">About</li>
            <li id="feed">Feed</li>
            <li id="add-candle">Add candle</li>
            <li id="search">Search</li>
        </ul>
    </header>

    <div class="wrap-modal">
        <div id="window-about" class="window window-about">
            <div id="about-descr" class="text space"></div>
            <img class="about-candle" src="<%= require('./src/assets/img/about-candle.jpeg') %>" alt="candle">
        </div>
    </div>

    <div class="wrap-modal">
        <div id="modal-add-candle" class="modal add-candle">
            <div class="modal-head">
                <div class="modal-title">Add new candle</div>
                <div class="close-modal icon-close"></div>
            </div>

            <form id="new-candle-data">
                <div class="wrap-input">
                    <label for="name-candle">Name</label>
                    <input id="name-candle" name="name-candle" type="text" required>
                </div>

                <div class="wrap-input">
                    <label for="memo-candle">Memo</label>
                    <textarea name="memo-candle" id="memo-candle" maxlength="300" required></textarea>
                </div>

                <div class="wrap-input">
                    <label for="email-candle">Email</label>
                    <input id="email-candle" name="email-candle" type="text" required>
                </div>

                <div class="wrap-input">
                    <label for="amount-candle">Donation</label>
                    <input id="amount-candle" name="amount-candle" type="number" value="1" required>
                </div>

                <div class="modal-ftr">
                    <button id="save-candle" type="submit">Add candle</button>
                </div>
            </form>
        </div>
    </div>

    <div class="wrap-modal">
        <div id="modal-search" class="modal add-candle">
            <div class="modal-head">
                <div class="modal-title">Search candle by ID</div>
                <div class="close-modal icon-close"></div>
            </div>

            <form id="search-candle">
                <div class="wrap-input">
                    <label for="id-candle">Candle ID</label>
                    <input id="id-candle" name="id-candle" type="number" autocomplete="off">
                </div>

                <div class="search-error">Candle not found</div>

                <div class="modal-ftr">
                    <button id="search-candle" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div id="wrap-memo-text" class="wrap-memo-text">
        <div>
            <div id="memo-name"></div>
            <br>
            <div id="memo-text"></div>
        </div>
    </div>

</body>
</html>
