@import "fonts";

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    font-weight: lighter;
    overflow: hidden;
    background: #b3e2fc;
}

* {
    box-sizing: border-box;
}

input, textarea {
    width: 100%;
    padding: 4px 6px;
    border: 1px solid rgba(0, 0, 0, 0.88);
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    padding: 7px 11px;
    background: #b4e2fc;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .4s;

    &:hover {
        background: darken(#b4e2fc, 7);
    }
}

label {
    margin-bottom: 3px;
}

body {
    &.hideCanvas {
        #threeJS {
            opacity: 0;
            pointer-events: none;
        }

        .page-background {
            transform: translateY(35vh);
            transition: transform 1.9s;
        }
    }
}

.page-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, #b3e2fc, #fdf7f0 35%);
    transition: transform .6s;
}


.svg-loader {
    pointer-events: none;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    opacity: 0;
}

.show-svg {
    opacity: 1;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

ul.top-menu {
    display: flex;
    font-size: 24px;
    list-style: none;
    color: white;
    margin: 0;
    padding: 15px 0;

    li {
        margin-left: 40px;
        cursor: pointer;
        transition: color .4s;

        &:hover { color: #8e7e86; }
    }
}

.wrap-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    z-index: 2;
}

.text {
    font-size: 16px;
    color: #7e8285;
}

.modal {
    width: 24%;
    background: white;
    pointer-events: auto;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.08);
    transition: .4s;

    &:not(.show) {
        opacity: 0;
        transform: translateY(-8vh) rotateX(15deg);
        pointer-events: none;
    }
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
}

.icon-close {
    position: relative;
    cursor: pointer;
    width: 15px;
    height: 15px;

    &:before, &:after {
        content: '';
        position: absolute;
        left: -100%;
        top: -100%;
        right: -100%;
        bottom: -100%;
        width: 2px;
        height: 100%;
        background: #000;
        margin: auto;
    }

    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
}

.wrap-input {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 15px;
}

.modal-ftr {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.wrap-memo-text {
    position: fixed;
    width: 300px;
    z-index: 2;

    >* {
        position: absolute;
        top: -20px;
        font-size: 14px;
        transform: translate(-50%, -100%);
        padding: 5px 6px;
        word-break: break-word;
        text-transform: uppercase;
        color: #7e8285;
        width: 100%;
    }
}

.about-candle {
    height: 23vh;
}

.text {
    &.space {
        padding-bottom: 4vh;
    }
}

#window-about {
    max-width: 500px;
    min-width: 300px;
    width: 43%;
}

.window {
    transition: opacity .6s;

    &:not(.show) {
        opacity: 0;
    }
}

form#search-candle {
    position: relative;

    &:not(.error) {
        .search-error {
            display: none;
        }
    }
}

.search-error {
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}

#threeJS {
    position: relative;
    z-index: 1;
    transition: opacity .6s;
}

@media screen and (max-width: 720px) {
    ul.top-menu {
        font-size: 20px;

        li {
            margin-left: 20px;
        }
    }
}
